# Compiled class file
*.class

# Log file
*.log

### Eclipse ###

### Eclipse Patch ###
# Eclipse Core		
.project

#Intellij
*.iml
.idea/
out/

#VIM
*.swp

# JDT-specific (Eclipse Java Development Tools)		
.classpath
/bin/
